@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <h1 class="display-4">Phunnyshop</h1>
    <p>Explora a nossa Webapp e descubre as nossas funcionalidades</p>
</div>

 <hr/>

 <br/>
 

<div class="container text-center">
    <h2 class="text-primary">Serviços Disponíveis</h2>
    <div class="row">
        <!-- Serviço 1 -->
        <div class="col-md-4 text-center">
            <i class="bi bi-person-check text-primary" style="font-size: 2rem;"></i>
            <h5>Progress Tracking</h5>
            <p>Acompanha o progresso das tuas reparações.</p>
        </div>
        <!-- Serviço 2 -->
        <div class="col-md-4 text-center">
            <i class="bi bi-tools text-primary" style="font-size: 2rem;"></i>
            <h5>Histórico de Reparações</h5>
            <p>Vê o histórico completo de reparações dos teus equipamentos.</p>
        </div>
        <!-- Serviço 3 -->
        <div class="col-md-4 text-center">
            <i class="bi bi-cash-coin text-primary" style="font-size: 2rem;"></i>
            <h5>Pack Mensal</h5>
            <p>Seguro e garantias exclusivas.</p>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>

<div class="container text-center">
    <h2 class="text-primary">Sobre Nós</h2>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="~/images/funnyphone.jpg" class="img-fluid rounded shadow-sm mb-2" alt="Localização" style="height: 250px; object-fit: cover;">
            <p>Esta é a nossa localização.</p>
        </div>
       <div div class="col-md-4 text-center">
    <img src="~/images/telele.jpg" class="img-fluid rounded shadow-sm mb-2" alt="Técnico a fazer cenas "style="height: 250px; object-fit: cover;">
    <p>Como fazemos as reparações .</p>
       </div>
        <div class="col-md-4 text-center">
            <img src="~/images/monhe.jpg" class="img-fluid rounded shadow-sm mb-2" alt="Equipe de técnicos trabalhando"style="height: 250px; object-fit: cover;">
            <p class="text-center">A nossa equipa</p>
        </div>
    </div>
</div>
