@model List<Subscription>

<h1>Subscription List</h1>
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Subscription Name
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model)
		{
			<tr>
				<td>@obj.SubscriptionId</td>
				<td>@obj.SubscriptionName</td>
			</tr>
		}
	</tbody>
</table>