
<div class="container">
    <div class="row pt-4 mb-2">
        <div class="col-6">
            <h2 class="text-primary">SUBSCRIÇÕES</h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-outline-primary" asp-controller="User" asp-action="Index"><i class="bi bi-chevron-double-left"></i> Voltar</a>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Pacote</th>
                <th scope="col">Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Premium</td>
                <td>7,99€/Mês</td>
                <td><a class="text-decoration-none" asp-controller="" asp-action=""><i class="bi bi-eye"></i> Comprar</a></td>
            </tr>
            <tr>
                <td>VIP</td>
                <td>12,99€/Mês</td>
                <td><a class="text-decoration-none" asp-controller="" asp-action=""><i class="bi bi-eye"></i> Comprar</a></td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<div class="container bg-primary text-white rounded">

    <div class="pt-4">
        <h2 class="text-white">Detalhes</h2>
    </div>

    <div class="row pt-4 mb-2">
        <div class="col-6 text-center">
            <h3 class="p-2 text-bg-danger">Premium</h3>
            <hr />
            <p>VANTAGEM 1</p>
            <p>VANTAGEM 2</p>
            <p>VANTAGEM 3</p>
        </div>
        <div class="col-6 text-center">
            <h3 class="p-2 text-bg-warning">VIP</h3>
            <hr />
            <p>VANTAGEM 1</p>
            <p>VANTAGEM 2</p>
            <p>VANTAGEM 3</p>
            <p>*VANTAGEM 4</p>
            <p>*VANTAGEM 5</p>
        </div>
    </div>

</div>